@model IEnumerable<ToDoList.DB.Category>

@{
    ViewBag.Title = "Index";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div ng-controller="mvCategoriesCtrl">
    <h2>Categories</h2>
    <div name="" ng-repeat="category in allCategories">
        <h3>{{category.Name}}</h3>
        <button ng-click="removeCategory(category)">Remove</button>
        <input ng-show="category.show" name="CategoryName" type="text" ng-model="category.Name" />
        <button ng-click="editCategory(category)">Edit</button>


    </div>
    <input name="newCategoryName" type="text" placeholder="Category name" ng-model="newCategoryName" />
    <button ng-click="addnewCategory(newCategoryName);newCategoryName = ''">Add Category</button>
</div>

