@model System.Collections.Generic.List<ToDoList.DB.Task>

@{
    ViewBag.Title = "title";
   
}
<div ng-controller="mvTaskListCtrl">
    <h2>Current Tasks</h2>
    <div ng-repeat="task in tasks">
        <h3>{{task.TaskName}}</h3>
        <ul>
            <li ng-repeat="subtask in task.subTasks">{{subtask.SubName}}</li>
        </ul>
    </div>
</div>
