@model System.Collections.Generic.List<ToDoList.DB.Task>

@{
    ViewBag.Title = "title";
   
}

<h2>Current Tasks</h2>
@using (Html.BeginForm())
{
    <ol>


        @foreach (var task in Model)
        {
              
            <li>@Html.EditorFor(modelitem => task.IsFinished)
@task.TaskName</li>
           
               foreach (var sub in task.subTasks)
                {<ul>
   @Html.EditorFor(modelitem => sub.IsFinished)
                   @sub.SubName</ul>
                }
            
        }
    </ol>
}
